[submodule "external/hackrf-raw"]
	path = external/hackrf-raw
	url = https://github.com/mossmann/hackrf.git
[submodule "external/rtl-sdr"]
	path = external/rtl-sdr
	url = https://github.com/osmocom/rtl-sdr
