[submodule "external/rtl-sdr"]
	path = external/rtl-sdr
	url = https://github.com/osmocom/rtl-sdr
[submodule "external/hackrf"]
	path = external/hackrf
	url = https://github.com/mossmann/hackrf.git
[submodule "external/rustler"]
	path = external/rustler
	url = git@github.com:hansihe/rustler.git
[submodule "external/libusb"]
	path = external/libusb
	url = https://github.com/libusb/libusb.git
